h1 {
  color: #0000ff;
  font-size:40px;
  font-family:serif;
  background-color: #f3f372;
  height: 80px;
  width: 200px;  
}
img {
  height:50px;
  width:70px;
}
h2 {
  color: #f3f372;
  font-size:20px;
  font-family:"lucida grande"
}
p {
  color: #ff0000;
  font-size:20px;
  font-family:"lucida grande"
}
